@use "../lib/root.scss" as root;
@use "../lib/mixin.scss" as mixin;

#explore-restaurant {
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  padding-top: 1em;
  margin-top: 1em;

  h2 {
    text-align: center;
    color: root.$red;
    text-transform: uppercase;
    margin-bottom: 1em;
  }

  & > p {
    font-size: 1.3em;
    font-weight: 400;
    font-style: italic;
    color: root.$red;
    margin-bottom: 1em;
    padding-left: 0.5em;

    span {
      font-weight: 600;
    }
  }

  .nothing-resto {
    text-align: center;
    img {
      width: 100px;
      height: 100px;
    }

    p {
      color: root.$red;
    }
  }
}

@media screen and (min-width: 768px) {
  #explore-restaurant {
    margin-top: 2em;
    .list-restaurant {
      @include mixin.flex(center, center);
      gap: 2em;
      flex-wrap: wrap;
    }
  }
}
